.wd-account-navigation {
  position: fixed;
  max-height: 100%;
  min-height: 100%;
}

.wd-account-navigation.list-group {
  /*background-color: wheat; !* easier to see while developing *!*/
  background-color: white;
  list-style: none;
  padding: 0px;
  /*width: 70px; !* to test word wrapping *!*/
  width: 200px;
  margin: 0px 0px 0px 20px;
  /*margin-left: 20px;*/
  border-radius: 0px;

  overflow-wrap: break-word;
}

.wd-account-navigation.list-group a {
  /*padding-top: 10px;*/
  /*padding-bottom: 10px;*/
  /*padding-left: 10px;*/
  padding: 8px 0px 8px 8px;
  margin: 0px 0px 0px 0px;
  border: none;
  font-size: 0.80em; /* relative font size: em */
  text-align: left;
  color: #b52828;
  /*background-color: wheat; !* easier to see while developing *!*/
  background-color: white;
  text-decoration: none;
}

.wd-account-navigation a.wd-account-active {
  border-left: 2px solid black;
}
.wd-account-navigation a.wd-account-active {
  color: black;
}

/*.wd-account-navigation {*/
/*  background-color: wheat; !* easier to see while developing *!*/
/*  !*background-color: white;*!*/
/*  list-style: none;*/
/*  padding: 0px;*/
/*  width: 70px;  !* to test word wrapping *!*/
/*  !*width: 200px;*!*/
/*  margin: 0px 0px 0px 20px;*/
/*  !*margin-left: 20px;*!*/

/*  overflow-wrap: break-word;*/
/*}*/

/*.wd-account-navigation li {*/
/*  !*padding-top: 10px;*!*/
/*  !*padding-bottom: 10px;*!*/
/*  !*padding-left: 10px;*!*/
/*  padding: 10px 0px 10px 10px;*/
/*  margin-bottom: 10px;*/
/*  margin-top: 10px;*/

/*}*/

/*.wd-account-navigation li a {*/
/*  color: #b52828;*/
/*  text-decoration: none;*/
/*}*/